<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:replace="fragments :: header"></h1>

    <form method="post">
        Name:
        <input type="text" name="taskName" /><br/>
        Start: <input type="text" name="startTime" /><br/>
        End: <input type="text" name="endTime" /><br/>
        Description:
        <input type="text" name="description" /><br/>
        <input type="submit" value="Add Task" />
    </form>

</body>
</html>